#titre{
  font-size: 50px;
  text-align: center;
}


#sectionexperience{
  background-color: black;
}


#sectionformation{
  background-color: red;
}


#footercontact{
  background-color: green;
}

plugin{
  margin-top:300px;
  background-color:#94c516;
}
