#titre{
  font-size: 50px;
  text-align: center;
}

/* **************  ARTICLE QUI SUIS JE ************* */
#sectionquisuisje{
  background-image: url(http://img1.gtsstatic.com/wallpapers/5eb7272bafa1f8772f42fe0565059eaa_large.jpeg);
}

/* **************  ARTICLE EXPERIENCE ************* */
#sectionexperience{
  background-image: url(http://www.10wallpaper.com/wallpaper/medium/1411/experiment-Abstract_widescreen_wallpaper_medium.jpg);
}

/* **************  ARTICLE FORMATION ************* */
#sectionformation{
  background-color: red;
}

/* **************  ARTICLE CONTACT ************* */
#sectioncontact{
  background-color: green;
}

section {
  padding: 20px;
  height: 500px;}
section>h2{
  text-align: center;
  font-size: 50px;
}
