#qsj{
  background-color: black;
}

#listeqsj{
  background-color: red;
}

#experience{
  background-color: green;
}

#listeexperience{
  background-color: yellow;
}

#formation{
  background-color: grey;
}

#listeformation{
  background-color: blue;
}
