@import url("http://fonts.googleapis.com/css?family=Tangerine:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:300");
@import url("http://weloveiconfonts.com/api/?family=entypo");
html {
  background-color: black; }

#header {
  min-height: 330px;
  font-family: 'Lobster', cursive;
  background-image: url(http://rkueny.fr/img/home-bg.png);
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex; }

#titreprincipal {
  font-size: 50px;
  text-align: center;
  margin-left: 300px;
  margin-top: 150px;
  opacity: 1;
  color: black; }

section {
  padding: 20px;
  height: 500px; }

section > h2 {
  text-align: center;
  font-size: 50px; }

#titre {
  font-size: 50px;
  text-align: center; }

h2 {
  font-family: 'Tangerine', cursive;
  font-size: 80px; }

.hr-break-line {
  margin: 10px auto 30px;
  padding: 0;
  max-width: 512px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  border-color: #888; }

.hr-break-line:after {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-size: 2em;
  color: #888;
  background-color: #dedadd; }

/* **************** MENU DE MON PORTFOLIO ************** */
.stylemenu1 {
  margin-top: 150px;
  border-color: #FFFF00; }

.stylemenu2 {
  margin-top: 100px; }

.header_inner {
  margin: 0 auto;
  position: relative;
  width: 940px; }

.logo {
  display: block;
  height: 89px;
  left: 41%;
  position: absolute;
  top: 190px;
  width: 211px; }

#header nav {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }

.resp_navigation {
  display: none; }

#navigation, #navigation ul {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

#navigation:after {
  clear: both; }

#navigation {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 202; }

#navigation li {
  position: relative;
  z-index: 203; }

#navigation > li {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: bounce;
  animation-timing-function: ease;
  display: block;
  float: left;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 24px;
  padding-top: 11px;
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out 0s; }

#navigation > li:before {
  background: none repeat scroll 0 0 White;
  box-shadow: 3px 0 0;
  content: "";
  height: 10000%;
  left: 49.6%;
  position: absolute;
  top: -10000%;
  width: 1px; }

#navigation > li:nth-child(2n) {
  margin-top: 79px; }

#navigation > li:hover {
  z-index: 10000; }

#navigation > li:hover {
  top: 10px; }

#navigation a {
  -moz-box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 204; }

#navigation > li > a:before, #navigation > li > a:after {
  border-radius: 50px 50px 50px 50px;
  background-color: black;
  bottom: 4px;
  content: "";
  height: 30px;
  left: 5px;
  position: absolute;
  top: auto;
  transform: rotate(-4deg);
  width: 54%;
  z-index: -2; }

#navigation > li > a:after {
  left: auto;
  right: 5px;
  transform: rotate(4deg); }

#navigation > li > a > span {
  border-radius: 25px 25px 25px 25px;
  display: block;
  max-width: 201px;
  min-height: 18px;
  min-width: 135px;
  padding: 12px 10px 10px;
  position: relative;
  text-align: center;
  word-wrap: break-word; }

/* **************  ARTICLE QUI SUIS JE ************* */
#sectionquisuisje {
  background-image: url(/porfolio/img/qsj.jpeg);
  background-color: white; }

/* **************  ARTICLE EXPERIENCE ************* */
#sectionexperience {
  background-image: url(http://www.ehdesign.fr/images/background/fond_04.jpg); }

div.experience {
  position: relative;
  height: 40px;
  margin: 40px 20px;
  padding-left: 50px; }

div.experience img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 1px; }

div.experience .parcial {
  display: inline-block;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  padding: 0 0 0 10px; }

div.experience .parcial .info {
  height: 15px;
  position: relative; }

div.experience .parcial .info > div {
  float: left; }

div.experience .parcial .info .nome {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  color: #192D49; }

div.experience .parcial .info .eleito, div.experience .parcial .info .segundo-turno {
  color: #fff;
  padding: 0 5px 2px 5px;
  border-radius: 2px; }

div.experience .parcial .info .textepourcentage {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 700;
  color: #192D49; }

div.experience .parcial .progressBar {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 5px 0 2px;
  border-radius: 10px;
  background: #e7e7e7; }

div.experience .parcial .progressBar .percentagem {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #A4B5C0;
  -webkit-transition: 5s all;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: animationProgress; }

div.experience.html .parcial .percentagem {
  background-color: #56BA62; }

div.experience.css .parcial .percentagem {
  background-color: #4086CD; }

div.experience.javascript .parcial .percentagem {
  background-color: #C44738; }

div.experience.php .parcial .percentagem {
  background-color: #272726; }

.percentual {
  -webkit-transition: 5s all;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: animationProgress;
  transition: 5s all;
  animation-duration: 5s;
  animation-name: animationProgress; }

@-webkit-keyframes animationProgress {
  from {
    width: 0; } }
@keyframes animationProgress {
  from {
    width: 0; } }
/* **************  ARTICLE FORMATION ************* */
#sectionformation {
  background-image: url(/porfolio/img/formation.png);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  padding: 1em; }

.timeline {
  position: relative;
  overflow: auto; }

.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background: gray;
  left: 0; }

.timeline h2 {
  background: gray;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both; }

.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1; }

.timeline li {
  background: gray;
  padding: 1em;
  margin-bottom: 1em;
  position: relative; }

.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid gray;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0; }

.timeline h3 {
  margin-top: 0; }

.timeline time {
  font-style: italic; }

#sectioncontact {
  background-color: white; }

.footer {
  background-color: grey;
  background-size: cover;
  padding: 20px 0;
  text-align: center; }

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: black;
  border-radius: 50%;
  background: blue;
  overflow: hidden;
  transition: color .3s; }

.social:hover {
  color: #59d;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
