/* **************  ARTICLE EXPERIENCE ************* */
#sectionexperience{
  background-image: url(http://www.ehdesign.fr/images/background/fond_04.jpg);}


// CONTENAIRE DE LA SECTION EXPERIENCE
.contenaireexperience{
  display: flex;
  margin-left: 250px;
}

// LOGO DE LA PARTIE EXPERIENCE
.logoexperience{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
}

// BOX DE LA SECTION EXPERIENCE
.boxexperience{
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-around;
  width:100px;
  text-align: center;
  padding-right: 100px;
}
