/* **************  ARTICLE FORMATION ************* */
#sectionformation{
  background-image: url(/porfolio/img/formation.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
