/* **************  ARTICLE FORMATION ************* */
#sectionformation{
  background-image: url(http://www.veroniquemonbec.com/images/fondecran.jpg);
}



section {
  padding: 20px;
  height: 500px;}
section>h2{
  text-align: center;
  font-size: 50px;
}
