/* **************  ARTICLE EXPERIENCE ************* */
#sectionprojet{
  background-image: url(http://www.ehdesign.fr/images/background/fond_04.jpg);
  background-color: white;
  .projetimg{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    .projet1{
      float: left;
    }
  }
}
