#titre{
  font-size: 50px;
  text-align: center;
}


/* **************  ARTICLE QUI SUIS JE ************* */
#sectionquisuisje{
  background-image: url(http://www.albert-et-fils.fr/images/demo/fond-gris.jpg);
}
