
/* **************  ARTICLE QUI SUIS JE ************* */
#sectionquisuisje{
  background-image: url(/porfolio/img/qsj.jpeg);
  background-color: white;
  display: flex;
}
@media screen and (max-width: 960px){
  #sectionquisuisje{
    img{
      display: none;
    }

  }
}

div>h2{
  text-align: center;
}
