@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .timeline {
    &:before {
      left: 50%;
    }

    ul {
      padding-left: 0;
      max-width: 700px;
      margin: 0 auto;
    }

    li {
      width: 42%;
    }

    li:nth-child(even) {
      float: right;
      margin-top: 2em;
    }

    li:nth-child(odd) {
      float: left;

      &:before {
        border-top: 1em solid $gray;
        border-right: 1em solid transparent;
        right: -1em;
        left: auto;
      }
    }

    li:nth-of-type(2n+1) {
      clear: both;
    }
  }
}
