// STYLE GENERAL DU PORFOLIO
html{
  background-color: black;
}


#header {
    min-height: 330px;
    font-family: 'Lobster', cursive;
    background-image: url(http://rkueny.fr/img/home-bg.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;

}

// TITRE PRINCIPAL DE MON porfolio
#titreprincipal{
  font-size: 50px;
  text-align: center;
  margin-left: 300px ;
  margin-top: 150px ;
  opacity: 1;
	color: black;
}


// EFFET DE TEXTE
@import url('http://fonts.googleapis.com/css?family=Tangerine:400,700');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');



// PLACEMENT DE TOUTES MES SECTIONS
section {
  padding: 20px;
  height: auto;
}

// TITRE PRINCIPAL DU PORFOLIO ( CHARLES-ANDRE )


// STYLE DE TOUT LES SECOND TITRE
h2 {
  font-family: 'Tangerine', cursive;
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 1020px){
h2{
  font-size: 120px;
}

// ligne de soulignement des sou titre de mes articles
.hr-break-line {
    margin: 10px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align:center;
    border-color: #888;
}
    .hr-break-line:after {
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 2em;
      color: #888;
      background-color: rgb(222, 218, 221);
    }

// STYLE DES PARAGRAPHES DE MON PORFOLIO

.paragraphe{
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
}
 @media screen and (max-width: 1020px){
  .paragraphe{
    font-size: 50px;
    text-align: center;
  }
}


}
